/* CSS Document */
.banner {height: 10px; margin: 10px auto; width: 100%; font-size: 16px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; }
.texts { line-height: 36px; padding: 90px 0 0 40px; text-shadow: 1px 1px rgba(255,255,255,0.3); }
.texts p { -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; -webkit-transform: translate(60px); -moz-transform: translate(60px); -o-transform: translate(60px); -ms-transform: translate(60px); transform: translate(60px); }
.texts p:hover { padding-left: 20px }
.texts p:nth-child(1) { -webkit-animation: animations 3s ease-out 1s backwards; -moz-animation: animations 3s ease-out 1s backwards; -o-animation: animations 3s ease-out 1s backwards; -ms-animation: animations 3s ease-out 1s backwards; animation: animations 3s ease-out 1s backwards; }
.texts p:nth-child(2) { -webkit-animation: animations 3s ease-out 4s backwards; -moz-animation: animations 3s ease-out 4s backwards; -o-animation: animations 3s ease-out 4s backwards; -ms-animation: animations 3s ease-out 4s backwards; animation: animations 3s ease-out 4s backwards; }
@-webkit-keyframes animations { 0% {
-webkit-transform:translate(0);
opacity:0;
}
 50% {
-webkit-transform:translate(30px);
opacity:.5;
}
 100% {
-webkit-transform:translate(60px);
opacity:1;
}
}
@-moz-keyframes animations { 0% {
-moz-transform:translate(0);
opacity:0;
}
 50% {
-moz-transform:translate(30px);
opacity:.5;
}
 100% {
-moz-transform:translate(60px);
opacity:1;
}
}
@-o-keyframes animations { 0% {
-o-transform:translate(0);
opacity:0;
}
 50% {
-o-transform:translate(30px);
opacity:.5;
}
 100% {
-o-transform:translate(60px);
opacity:1;
}
}
@-ms-keyframes animations { 0% {
-ms-transform:translate(0);
opacity:0;
}
 50% {
-ms-transform:translate(30px);
opacity:.5;
}
 100% {
-ms-transform:translate(60px);
opacity:1;
}
}
@keyframes animations { 0% {
transform:translate(0);
opacity:0;
}
 50% {
transform:translate(30px);
opacity:.5;
}
 100% {
transform:translate(60px);
opacity:1;
}
}
/* 左侧栏文章列表 */
.bloglist h2 { border-bottom: #8c8d8d 2px solid; margin: 0 8px 20px 8px; height: 24px; overflow: hidden; line-height: 28px; font-size: 16px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; letter-spacing: 2px }
.bloglist h2 p { background: #8c8d8d; width: 180px; color: #fff; text-align: center; box-shadow: #999 1px 5px 1px; }
.bloglist h2 p span { color: #38b3d4; }
.blogs { margin: 0 20px 20px 20px; position: relative; border-bottom:#dcdcdc 1px dashed;}
.blogs h3 { font-size: 14px; font-weight: normal; margin-bottom: 15px; transition: all .5s }
.blogs h3 a { color: #525554; font-size:14px;font-family:"Microsoft Yahei", Arial, Helvetica, sans-serif;}
.blogs h3:hover { text-decoration: none; }
.blogs figure { float: left; width: 25%; overflow: hidden; margin-top:4px;}
.blogs figure img { width: 100%; margin: auto; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.blogs figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.blogs ul { float: right;font-size:12px; line-height: 20px; width: 100%; color: #756f71; }
.blogs ul p {margin-bottom:10px;}
.blogs ul:hover { cursor: pointer; }
.blogs ul figure{margin-right:20px;}
.blogs p.title_meta{ color: #8c8d8d; text-align: left;padding-bottom:13px;margin-top:-5px;margin-bottom:6px;}
.blogs span { margin-right:10px; }
.blogs span a { color: #8c8d8d;font-weight:normal;}
.blogs span a:hover { text-decoration: underline;}
.autor { overflow: hidden; clear: both; margin: 0 0 0 0; display: inline-block; line-height: 26px; height: 8px; color: #838383;width: 100% }
.autor span { margin-right:10px; }
.autor span a { color: #8c8d8d;font-weight:normal;}
.autor span a:hover { text-decoration: underline;}
a.readmore { background: #A9B1D0; color: #FFF; padding: 5px 10px; float: right; margin: 20px 0 0 0 ;margin-left: 10px;}
/* 右侧栏个人档案 */
.avatar { margin: 10px auto; width: 160px; height: 160px; border-radius: 100%; overflow: hidden; }
.avatar a { display: block; padding-top: 100px; width: 160px; background: url(/static/frontend/images/photos.jpg) no-repeat; background-size: 160px 160px; }
.avatar a span { display: block; margin-top: 63px; padding-top: 8px; width: 160px; height: 55px; text-align: center; line-height: 20px; color: #fff; background: rgba(0, 0, 0, .5); -webkit-transition: margin-top .2s ease-in-out; -moz-transition: margin-top .2s ease-in-out; -o-transition: margin-top .2s ease-in-out; transition: margin-top .2s ease-in-out; }
.avatar a:hover span { display: block; margin-top: 0; }
.topspaceinfo { background: #e41635; padding: 40px 20px; color: #fff; text-shadow: 1px 1px rgba(0,0,0,.3); }
.topspaceinfo h1 { font-size: 16px; line-height: 40px; font-weight: bold; }
.about_c { margin: 10px 0; color: #fff; line-height: 26px; }
.about_c p:first-child, .about_c p:nth-child(2), .about_c p:nth-child(3), .about_c p:nth-child(4), .about_c p:last-child { background: url(/static/frontend/images/about_c.png) no-repeat; }
.about_c p:first-child { background-position: 15px 6px; }
.about_c p:nth-child(2) { background-position: 15px -20px }
.about_c p:nth-child(3) { background-position: 15px -48px }
.about_c p:nth-child(4) { background-position: 15px -70px }
.about_c p:last-child { background-position: 15px -97px }
.about_c p { display: block; padding-left: 40px; }
.about_c p:hover { background: #222 }
.bdsharebuttonbox { margin: 20px; clear: both; }/* 百度分享 */
/* 右侧推荐信息列表 */
.tj_news h2, .links h2 { font-size: 16px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; color: #FFF; }
.tj_news h2 p, .links h2 p { height: 40px; line-height: 40px; width: 100px; padding: 0 0 0 30px; border-radius: 0 20px 20px 0; text-shadow: rgba(0,0,0,.65) 1px 1px; }
.tj_t1 { background: #53a2e1 }
.tj_t2 { background: #53a2e1 }
.tj_news ul { margin: 20px 0 20px 20px }
.tj_news ul li a:hover, .links ul li a:hover  { text-decoration: underline; color: #FFF;text-decoration: none;}
.tj_news ul li { height: 25px; line-height: 25px; clear: both; padding-left: 5px; overflow: hidden; padding-left: 15px; background: url(/static/frontend/images/li.jpg) no-repeat left center; }
.tj_news ul li a, .links ul li a { color: #bbbbbb; }
/* 友情链接 */
.links ul { margin: 20px 0 }
.links ul li { height: 30px; line-height: 30px; text-align: center; border-bottom: #333 1px dashed; margin: 0 40px; }

.imageserach{
	width:25px;float:right;margin-top:12px;margin-right:10px;font-size:12px;
}
/*评论*/
div.commentsubmit{
	padding:3px;
	border:#53a2e1 1px solid;
	width:60px;
	text-align:center;
	border-radius:5px;
	background:#53a2e1;
	color:#ffffff;
	margin-top:3px;
}

div.commentsubmit:hover{
	border:#53a2e1 1px solid;
	box-shadow:0 0 10px #53a2e1;
	-webkit-box-shadow:0 0 10px #53a2e1;
	-moz-box-shadow:0 0 10px #53a2e1;
}

.inputblue{
	transition:all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border:#bcb6b6 1px solid;
	border-radius:3px;
	outline:none;
	height:25px;
	margin-top:10px;
	margin-right:3px;
}
.inputblue:focus{
	border:#53a2e1 1px solid;
	box-shadow:0 0 10px #53a2e1;
	-webkit-box-shadow:0 0 10px #53a2e1;
	-moz-box-shadow:0 0 10px #53a2e1;
}

div.comment{
	font-size:12px;
	color:#756f71;
}
div.comment_info{
	margin-top:10px;
	padding:10px;
	border:#bcb6b6 1px solid;
	border-radius:3px;	
	background-color:#fafafa;
}
div.comment_quote{
	padding-left:20px;
	padding-bottom:10px;
	padding-top:5px;
	border:#bcb6b6 1px dashed;
	border-radius:1px;	
	background-color:#f0f3f6;
}
div.comment_content{
	float:left;
	line-height:20px;
	font-weight:normal;
	padding-top:10px;
	padding-left:23px;
	padding-right:10px;
	text-align:left;
	word-wrap:break-word;
}
div.comment_content_info{
	padding-top:10px;
	padding-right:14px;
}
div.comment_quote_hider{
	display:none;
}
div.comment_user{
	float:left;
}
div.comment_user_name{
	font-weight:bold;padding-top:8px;text-align:center;
}
div.atuser{
	font-weight:bold;
	padding-bottom:5px;
}
a.floor{
	color:#53a2e1;
}
a.floot:hover{
	color:#53a2e1;
}
div.clear{
	clear:both;
}
a.replay{
	color:#53a2e1;
}

/*标签*/
div.tag{
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color:#bbbbbb;
	padding-left:20px;
	padding-top:5px;
}

div.tagcontainer{
	margin-top:-5px;
	margin-left:-8px;
}

div.tag div.tagcontainer a{
	margin-left:5px;
	font-weight:300;
	color:#bbbbbb;
	font-size:13px;
}

div.tag div.tagcontainer a:hover{
	color:#ffffff;
}


/*#归档*/
div.archive{
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color:#bbbbbb;
	padding:20px;
	font-size:12px;
}
div.archive_date{
	float:left;
}
div.archive_category{
	float:left;
	margin-left:20px;
}
div.archive_date a,div.archive_category a{
	color:#bbbbbb;
	display:block;
	margin-top:5px;
}

div.archive_date a:hover,div.archive_category a:hover{
	color:#ffffff;
}

.infolist_article_title{
    color:#53a2e1 !important;
    font-weight:bold;
}

